$greyColor: #eee; 

@mixin default-border(){
    border: 1px solid $greyColor;
  }

@mixin make-awesome-btn() {
    display: block;
    background: transparent;
    width: 30px;
    height: 30px;
    @include default-border();
    padding:  5px;
    outline:none;

    &:hover{
        cursor: pointer;
    }
  }



.awesomeColorPicker{
    display: inline-flex;
    position: relative;
    @include default-border();
    &>*{
        padding: 30px;
        border-right: 1px solid $greyColor;

        &::last-child{
            border-right: none;
        }
    }

   
    ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background: #fff;
        padding: 10px;
        @include default-border();
        li{
            list-style: none;
        }
    }


/**/

.awesomeColorSquare{
        display: inline-block;
        width: 10px;
        height: 10px;
        padding: 5px;
        @include default-border();

}
 .awesomeColorInput{
        line-height: 40px;
        padding: 5px;
        border-bottom: none;
        border-top: none;
        border-left: none;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
 }   

 .awesomeColorDropDown{

  
    ul{
        max-height: 300px;
        overflow: auto;

    }

    li{
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        align-items: center;
        padding: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid $greyColor;


        &::last-child{
            border-bottom: none;
        }
    }


 }
//  .awesomeRgbDropDown{
   
//  }


 .awesomeBtn{
    @include make-awesome-btn()
 }
.awesomeActive{
    background: #f5f5f5;
}
 .awesomeOpen{
     display: flex
 }

 .awesomeClose{
     display: none
 }


}



