$greyColor: #eee; 

@mixin default-border(){
    border: 1px solid $greyColor;
  }

@mixin make-awesome-btn() {
    display: block;
    background: transparent;
    width: 30px;
    height: 30px;
    @include default-border();
    padding:  5px;
    outline:none;

    &:hover{
        cursor: pointer;
    }
  }



.awesomeColorPicker{
    display: inline-flex;
    position: relative;
    @include default-border();
    &>*{
        padding: 30px;
        border-right: 1px solid $greyColor;

        &::last-child{
            border-right: none;
        }
    }

   
    ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background: #fff;
        padding: 10px;
        @include default-border();
        li{
            list-style: none;
        }
    }


/**/


 .awesomeColorInput{
        line-height: 40px;
        padding: 5px;
        border-bottom: none;
        border-top: none;
        border-left: none;
 }   

//  .awesomeColorDropDown{



//  }
//  .awesomeRgbDropDown{
   
//  }


 .awesomeBtn{
    @include make-awesome-btn()
 }

 .awesomeOpen{
     display: flex
 }

 .awesomeClose{
     display: none
 }


}



