$greyColor: #eee; 
$greenColor: #81c784;
@mixin default-border(){
    border: 1px solid $greyColor;
  }

@mixin make-awesome-btn() {
    display: block;
    background: transparent;
    width: 30px;
    height: 30px;
    @include default-border();
    padding:  5px;
    outline:none;

    &:hover{
        cursor: pointer;
    }
  }



.awesomeColorPicker{
    display: inline-flex;
    position: relative;
    @include default-border();
    &>*{
        padding: 30px;
        border-right: 1px solid $greyColor;

        &::last-child{
            border-right: none;
        }
    }

   
    ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background: #fff;
        padding: 10px;
        top: 80px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        @include default-border();


        .footer{
            display: flex;
            flex-direction: row;
            justify-content:  space-between;
            align-items: center;
    
        }

        li{
            list-style: none;
        }
    }


/**/

.awesomeColorSquare{
        display: inline-block;
        width: 10px;
        height: 10px;
        padding: 5px;
        @include default-border();

}
 .awesomeColorInput{
        line-height: 40px;
        padding: 5px;
        border-bottom: none;
        border-top: none;
        border-left: none;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
 }   

 .awesomeColorDropDown{

  
    ul{
        max-height: 300px;
        overflow: auto;

    }

    li{
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid $greyColor;

    

        &:hover{
            cursor: pointer;
        }


        &::last-child{
            border-bottom: none;
        }
    }


 }
  .awesomeRgbDropDown{
    li{
        padding: 10px 20px;
    }
     }



 .awesomeBtn{
    @include make-awesome-btn();
    

    &--default{
        background-color:$greyColor;
        @include default-border();
        width: 100px;
    }

&--agree{
    background-color: $greenColor 
}


 }
.awesomeActive{
    background: #f5f5f5;
}
 .awesomeOpen{
     display: flex
 }

 .awesomeClose{
     display: none
 }


 .awesomeRangeInput{
     width: 100%; 
    -webkit-appearance: none;
    height: 10px;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include default-border();
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background: $greyColor;
        cursor: pointer;
        // margin-top: -14px; 
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
      }

    &[name='R']{
        background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(255, 0, 0) 100%);
    }
    &[name='G']{
        background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 255, 0) 100%);
    }

    &[name='B']{
        background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 255) 100%);
    }
 }

}



